.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 80%;
    margin-top: 60px;
}

.content .text {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.content .illustration {
    width: 45%;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 25px;
    margin-right: auto;
    color: white;
    background-color: #191A23;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 30px;
}

.text .head {
    font-size: 45px;
    font-weight: 500;
}

.text .subhead {
    line-height: 24px;
    font-weight: 400;
    margin-top: 40px;
    width: 67%;
}

.platform {
    display: flex;
    gap: 90px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 50px;
}

.platform img {
    filter: grayscale(100%) contrast(90%);
    opacity: 0.85;
}

.platform img:hover {
    filter: none;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin-top: 50px;
    }

    .content .text {
        display: contents;
    }

    .content .head {
        order: 1;
        width: 100%;
        font-weight: 500;
        font-size: 40px;
    }

    .content .illustration {
        order: 2;
        width: 100%;
        max-width: 480px;
    }

    .content .subhead {
        order: 3;
        width: 100%;
        margin-top: 30px;
    }

    .content .book {
        order: 4;
        width: 100%;
    }

    img.home {
        width: 150px;
    }

    .platform {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 100%;
        justify-content: center;
    }

    .platform>a {
        flex: calc(33.333% - 17px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}