* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'space grotesk', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 80%;
}

.tabs a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 400;
}

.tabs {
    margin-left: auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

.request {
    padding: 12px 30px;
    border: solid 1px #191A23;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
}

img.mobmenu {
    width: 28px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

img.home {
    width: 180px;
    display: flex;
    align-items: center;
}

.tabs :hover {
    padding: 5px 7px;
    background-color: #B9FF66;
    border-radius: 8px;
}

@media screen and (min-width: 200px) {

    img.mobmenu {
        display: none;
    }
}

@media screen and (max-width: 1200px) {

    .tabs,
    .request {
        display: none;
    }

    img.mobmenu {
        display: block;
    }

    .header a:last-child {
        margin-left: auto;
    }
}