* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title p {
    font-weight: 700;
    font-size: 32px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39%;
    font-weight: 300;
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

img {
    width: 90%;
    border-radius: 8px;
}

.articles>div {
    display: flex;
    width: calc(33.33% - 20px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 12px 0px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #efefef;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -60px;
    margin-bottom: -30px;
}

.text p {
    width: 68%;
    font-size: 18px;
}

.text a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(0, 192, 0);
    margin-bottom: 12px;
}

@media (max-width: 1024px) {
    .articles>div {
        width: calc(50% - 5px);
    }

    .title p {
        width: 100%;
        font-size: 27px;
    }

    .description {
        width: 80%;
        font-size: 16px;
    }
}

@media (max-width: 648px) {
    .articles>div {
        width: 100%;
    }

    .title p {
        width: 100%;
        font-size: 22px;
    }

    .description {
        width: 80%;
        font-size: 14px;
    }
}