* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    background-color: #e9e9e9;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.ohio {
    width: 100%;
    border-radius: 8px;
}

.backroom {
    width: 10%;
}

.side {
    display: flex;
    align-items: center;
    position: absolute;
    right: -100px;
    bottom: 50px;
    width: 240px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.icons {
    display: flex;
    gap: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.people {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.people p {
    font-size: 14px;
    color: #777777;
}

.description {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    font-weight: 900;
    font-size: 20px;
}

.subtitle {
    font-size: 14px;
    letter-spacing: 1.3px;
    color: #777777;
}

.fav {
    margin-left: 130px;
}

.ongoing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.backroom {
    position: relative;
    bottom: 18px;
    width: 25%;
}

.status {
    font-size: 12px;
    color: #777777;
    font-weight: 700;
}

.plan {
    font-size: 16px;
    font-weight: 700;
}

.progress {
    font-size: 12px;
}

.bar {
    width: 140px;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        padding: 20px;
        gap: 40px;
    }

    .side {
        position: relative;
        right: 0;
        bottom: 0;
        width: auto;
        margin-top: 20px;
    }
}