.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
}

body {
    background-color: rgb(195, 195, 195);
}

img.logo {
    width: 130px;
    margin-left: 20px;
}

img.menu {
    width: 18px;
    margin-right: 5px;
}

img.call {
    width: 24px;

}

.middle a {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 8px;
}

.middle :hover {
    color: #f9612b;
}

.contact {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 7px 10px;
    border-radius: 6px;
    background-color: #f9612b;
    margin-right: 20px;
}

.number {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right .tel {
    display: flex;
    align-items: center;
}

.right .more {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 200px) {
    img.menu {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .middle {
        display: none;
    }

    .contact {
        display: none;
    }

    img.menu {
        display: block;
    }
}

@media screen and (max-width: 648px) {
    .right .tel {
        display: none;
    }
}